/* custom.scss */

/* change theme colors */
$primary: #024053;
$secondary: #9DCC9A;
$success: #68A538;
$danger: #DC3545;
$warning: #FFC107;
$info: #3D3D3D;
$light: #FFFFFF;
$dark: #152536;
$green: #D5E4CF;
$confirm: #68A538;
$grey: #F8F9FA;
$light-grey: #D3D3D3;
$blue:#0074d9;
